.dropdown {
  position: absolute;
  transform: translateX(-45%);
  overflow: hidden;
  z-index: 100;
  transition: height 300ms ease;
}

.user-icon {
  background-color: #484a4d;
  border-radius: 50%;
  stroke: white;
  fill: none;
  transition: filter 300ms;
}
.user-icon:hover {
  filter: brightness(1.25);
}

.menu-item {
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  transition: background 300ms;
  padding: 0.5rem;
  border-radius: 10px;
  text-decoration: none;
}
.menu-item:hover {
  color: white;
  background-color: #17559c;
}
.menu-icon-right {
  margin-left: auto;
}
.menu-icon-left {
  padding-right: 0.8rem;
}

$tr-speed: 350ms;
$tr-func: ease;

$primary-length: -110%;
.menu-primary-enter {
  position: absolute;
  transform: translateX($primary-length);
}
.menu-primary-enter-active {
  transform: translateX(0);
  transition: all $tr-func $tr-speed;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX($primary-length);
  transition: all $tr-func $tr-speed;
}

$secondary-length: 230%;
.menu-secondary-enter {
  position: absolute;
  transform: translateX($secondary-length);
}
.menu-secondary-enter-active {
  transform: translateX(0);
  transition: all $tr-func $tr-speed;
}
.menu-secondary-exit {
  position: absolute;
}
.menu-secondary-exit-active {
  transform: translateX($secondary-length);
  transition: all $tr-func $tr-speed;
}
