.dropdown {
  position: absolute;
  transform: translateX(-45%);
  overflow: hidden; // submenus to the left or right are hidden
  z-index: 100; // makes sure its on top
  transition: height 300ms ease;
}
